{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <div align = 'center'>
            <h1>Welcome to the Page for {{current_user.username}}</h1>
            <img src="{{url_for('static',filename='profile_pics/'+current_user.profile_image)}}">
        </div>
    </div>

    <div class="container">
        <form method="POST">
            {{form.hidden_tag()}}
            <div class="form-group">
                {{form.username.label}}{{form.username}}
            </div>
            <div class="form-group">
                {{form.email.label}}{{form.email}}
            </div>
            <div class="form-group">
                {{form.picture.label}}{{form.picture}}
            </div>
            <div class="form-group">
                {{form.submit}}
            </div>

        </form>

    </div>
{% endblock %}